<template>
    <div class="sidebar">
        <table v-if="users.length" class="list-group table sidebar-list" @scroll="handleScroll">
            <tbody>
                <tr v-for="(user, index) in users" :key="user.id" @click="setActive(index)">
                    <td>
                        <avatar v-if="user.avatar" :size="30" :src="'data:image/jpeg;base64,' + user.avatar"></avatar>
                        <avatar v-else :username="user.name" :size="30"></avatar>
                    </td>
                    <td v-if="index == active">
                        <strong>{{user.name}}</strong>
                    </td>
                    <td v-else>
                        <span>{{user.name}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else-if="isLoading"><em>Loading...</em></p>
        <p v-else><em>List is empty</em></p>
    </div>
</template>

<script src="./userList.ts"></script>

<style src="./userList.css"></style>