<template>
    <div>
        <div class="btn-group d-flex">

            <button class="btn btn-light" @click="handleEnabled">
                <strong v-show="enabled">Enabled</strong>
                <span v-show="!enabled">Enabled</span>
            </button>
      
            <button class="btn btn-light" @click="handleDisabled">
                <strong v-show="!enabled">Disabled</strong>
                <span v-show="enabled">Disabled</span>
            </button>

        </div>
    </div>
</template>

<script src="./switchMenu.ts"></script>

