<template>
    <div>
        <nav>
            <div class="nav nav-tabs justify-content-center bg-secondary" id="nav-tab" role="tablist">
                <a class="nav-item nav-link text-dark active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                <a class="nav-item nav-link text-dark" id="nav-role-tab" data-toggle="tab" href="#nav-role" role="tab" aria-controls="nav-role" aria-selected="false">User role</a>
                <a class="nav-item nav-link text-dark" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="false">Settings</a>
            </div>
        </nav>
        <div class="row mt-3">
            <div class="col-sm-4">
                <div v-if="!user.avatar" v-model="user" @click="addAvatar">
                    <img :height="150"
                         :width="150"
                         src="../images/noImage.jpg"
                         @onclick="$refs.file.click()" />
                </div>
                <div v-else v-model="user">
                    <avatar username="user.name" size="150" :rounded="false" :src="user.avatar"></avatar>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <user-profile-component :user="user" @updateUser="updateUser" />
                    </div>
                    <div class="tab-pane fade" id="nav-role" role="tabpanel" aria-labelledby="nav-role-tab">
                        <user-role-component :user="user" @updateUser="updateUser" />
                    </div>
                    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                        <user-settings-component :user="user" @updateUser="updateUser" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./activeUser.ts"></script>

<style src="./activeUser.css"></style>