<template>
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</span>
            </div>
            <input v-model="user.name"
                   type="text"
                   class="form-control"
                   name="name"
                   placeholder="Firstname Lastname"
                   onChange={this.handleChange}
                   onBlur={this.handleUpdate}
                   required />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</span>
            </div>
            <input v-model="user.email"
                   type="text"
                   class="form-control"
                   name="email"
                   value={this.state.user.email}
                   placeholder="example@mail.com"
                   onChange={this.handleChange}
                   onBlur={this.handleUpdate}
                   required />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype
                </span>
            </div>
            <input v-model="user.skype"
                   type="text"
                   class="form-control"
                   name="skype"
                   value={this.state.user.skype}
                   placeholder="live: skype"
                   onChange={this.handleChange}
                   onBlur={this.handleUpdate} />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Signature</span>
            </div>
            <input v-model="user.signature"
                   type="text"
                   class="form-control"
                   name="signature"
                   value={this.state.user.signature}
                   placeholder="Write your signature here..."
                   onChange={this.handleChange}
                   onBlur={this.handleUpdate} />
        </div>
    </div>
</template>

<script src="./userProfile.ts"></script>
