<template>
    <div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</span>
            </div>
            <input v-model="user.name"
                   type="text"
                   class="form-control"
                   name="name"
                   placeholder="Firstname Lastname"
                   @blur="handleUpdate"
                   required />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</span>
            </div>
            <input v-model="user.email"
                   type="email"
                   class="form-control"
                   name="email"
                   placeholder="example@mail.com"
                   @blur="handleUpdate"
                   required />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype
                </span>
            </div>
            <input v-model="user.skype"
                   type="text"
                   class="form-control"
                   name="skype"
                   placeholder="live: skype"
                   @blur="handleUpdate" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Signature</span>
            </div>
            <input v-model="user.signature"
                   type="text"
                   class="form-control"
                   name="signature"
                   placeholder="Write your signature here..."
                   @blur="handleUpdate" />
        </div>
        <div v-show="errors.length">
            <b>Please fix this errors:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </div>
    </div>
</template>

<script src="./userProfile.ts"></script>
