<template>
    <div id='app-root' class="container">
        <div class="row bg-light">
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary btn-block text-center" @click="addUser">
                        Add user
                    </button>
                </div>
                <div>
                    <search-plugin-component :searchText="searchText" @filterText="filterText"/>
                </div>
                <div>
                    <switch-menu-component :enabled="enabled" @switch="switchList" />
                </div>
                <div>
                    <user-list-component :users="users|filterUsers(searchText)" :active="active" :isLoading="isLoading" @setActiveUser="setActive" @addMoreData="addMoreData" />
                </div>
            </div>
            <div class="col-sm-9">
                <active-user-component :user="users|filterUsers(searchText)[active]" @updateUser="updateUserData" />
            </div>
        </div>
    </div>
</template>

<script src="./app.ts"></script>