<template>
    <div id='app-root' class="container">
        <div class="row bg-light">
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary btn-block text-center"
                            onClick={this.addUser.bind(this)}>
                        Add user
                    </button>
                </div>
                <div>
                    <search-plugin-component />
                </div>
                <div>
                    <switch-menu-component />
                </div>
                <div>
                    <user-list-component/>
                </div>
            </div>
            <div class="col-sm-9">
                <active-user-component/>
                                       <!--:user="user" @setActive="showActiveUser(user)" />-->
                                       
            </div>
        </div>
    </div>
</template>

<script src="./app.ts"></script>
